<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "PaLevá" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <nav class="bg-blue-500">
          <div class="flex justify-around items-center py-4 text-white">
            <div class="flex items-center space-x-6">
              <%= link_to 'PaLevá', root_path, class: 'text-2xl font-bold' %>
              <% if current_user.establishment&.valid? %>
                <%= link_to "#{current_user.establishment.trade_name}: #{Establishment.human_attribute_name(:show)}", establishment_path(current_user.establishment.id) %>
                <%= link_to "Horários de Funcionamento", opening_hours_path %>
                <%= link_to "Pratos", dishes_menu_items_path %>
              <% end %>
            </div>
            <div class="flex items-center space-x-6">
              <span><%= current_user.name %> <%= current_user.surname %></span>
              <%= button_to 'Sair', destroy_user_session_path, method: :delete,
                            class: 'bg-blue-700 px-2 py-1 rounded' %>
            </div>
          </div>
        </nav>
      <% end %>
    </header>

    <main class="flex-col justify-center space-y-8 bg-gray-200">
      <div class="text-center">
        <span class="font-semibold text-red-600"><%= alert %></span>
        <span class="font-semibold text-green-600"><%= notice %></span>
      </div>
      
      <div class="text-center space-y-4">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
